 <main>
      <div id="mainvisual">
        <picture>
          <source media="(max-width: 400px)" srcset="img/mainvisual-sp.jpg">
          <%= image_tag('img/logo2.jpg',  class: 'blog-image') %>
          <p class="photo">牛飼い求む</p>
        </picture>
      </div>

      <section id="about" class="wrapper">
        <h2 class="sec-title">About</h2>
        <ul>
          2021年新牛舎増設☆天然素材にこだわって育てる牛肉の品質は最優秀賞受賞のお墨付き！
          肉牛飼養スタッフを募集！働きやすい環境づくりを推進。市街地に近い立地も魅力です♪
          【週休1日・完全週休2日！選べる休日数】
        </ul>
        <p>

        </p>
      </section>

      <section id="works" class="wrapper">
        <h2 class="sec-title">Works</h2>
        <ul>
          <!-- 写真ギャラリー -->
        <div class="gallery ">
          <ul class="slider cf">
            <li>
          <%= image_tag "img/logo3.jpg", class:"single-image" %>
          <p>高橋畜産は、繁殖雌牛120頭を含む約1,200頭の肉牛を飼養する牧場。血統明確な黒毛和種で、地域ブランド和牛「讃岐牛・オリーブ牛」として出荷しています。</p>
        </li>
        <li>
          <%= image_tag "img/logo4.jpg", class:"single-image" %>
          <p>生まれたばかりの子牛のお世話も仕事の1つです。デリケートな子牛。愛情を持って育ててくださる動物好きな方ですと嬉しいです。</p>
        </li>
        <li>
          <%= image_tag "img/logo5.jpg", class:"single-image" %>
          <p>抗生物質を使わない安全なオリジナル飼料でこだわりの飼養。自慢の牛たちの肉質は、滑らかな脂質が特徴で、国内のみならず、海外にも輸出されています。</p>
        </li>
        <li>
          <%= image_tag "img/logo6.jpg", class:"single-image" %>
          <p>新しいスタッフの方にお願いするのは、牛たちへの餌やりや牛舎の清掃といった作業。未経験者や新卒の方のご応募もお待ちしています。</p>
        </li>
        <li>
          <%= image_tag "img/logo7.jpg", class:"single-image" %>
          <p>作業は機械化できるところは機械化し、省力化をはかっています。畜産の現場というと男性ばかりのイメージがあるかもしれませんが、女性も多数活躍中です！</p>
        </li>
        <li>
          <%= image_tag "img/logo8.jpg", class:"single-image" %>
          <p>現場で活躍中のスタッフは全員20代。職場の雰囲気はとてもいいですよ♪スタッフが気持ちよく働くことのできる環境づくりを推進しています。</p>
        </li>
        <li>
          <%= image_tag "img/logo9.jpg", class:"single-image" %>
          <p>長くこの農場で働いていただける方はもちろん、将来自分の牧場を持ちたいという独立希望の方も歓迎。ともに技術を磨いていきましょう！</p>
        </li>
        <li>
          <%= image_tag "img/logo10.jpg", class:"single-image" %>
          <p>「こんなところに1,200頭の牛が？」と驚くような観音寺市街地からも近い場所に農場はあります。移住や就業に不安のある方、見学や体験もOKですよ♪</p>
        </li>
        <li>
          <%= image_tag "img/logo11.jpg", class:"single-image" %>
          <p>アットホームな仲間と家族ぐるみで付き合える環境になっています。</p>
        </li>

          </ul>
        </div>
      </section>











