<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>takahashi tikusan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header id="header">
       <!--<h1 class="site-title">高橋畜産株式会社</a></h1>-->
      <div class="col-6 left">
        <h1>高橋畜産株式会社</h1>
      </div>

      <nav>
        <ul>
          <li><h3><%= link_to "トップ", root_path, class:"nav-link ml-2" %></h3></li>
          <li><h3><%= link_to "会社概要", homes_path, class:"nav-link ml-2" %></h3></li>
          <li><h3><%= link_to "働きたい人", about_path, class:"nav-link ml-2" %></h3></li>
        </ul>

    </header>

      <%= yield %>

    <footer id="footer">
      <p>高橋畜産株式会社</p>
    </footer>

  </body>
</html>

