<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>takahashi tikusan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <h1 class="site-title">高橋畜産株式会社</h1>
      <nav>
        <ul>
          <li><%= link_to "トップページ", root_path, class:"nav-link ml-2" %>
          <li><%= link_to "会社概要", homes_path, class:"nav-link ml-2" %>
          <li><%= link_to "働きたい人", about_path, class:"nav-link ml-2" %>
          <li>
            <!--<a href="https://www.instagram.com/" target="_blank">-->
              <!--<img class="icon" src="./img/icon-instagram.png" alt="インスタグラム">-->
            </a>
          </li>
        </ul>
      </nav>
    </header>


  <body>
    <%= yield %>
  </body>

  <footer>
    <p class="footer-text">高橋畜産株式会社</p>
  </footer>

</html>
